@use 'src/styles/vars';

.movies {
    width:90%;
    padding:3rem 4rem;
    height:100vh;
    min-height:400px;
    background-color: vars.$backgroundLight;

    &-title {
        font-size: 2rem;
        font-weight: bolder;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    } 

    &-container {
        height:90%;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
        overflow-y: scroll;
    }

    &-card {
        width: 22%;
        margin-bottom: 2rem;
        margin-right: 2rem;

        & img {
            width:100%;
            height:22rem;
            object-fit: cover;
            border-radius: 10px;
        }

        &-likes {
            position:absolute;
            top: 0.5rem;
            right: 0.5rem;
            background-color: vars.$backgroundLight;
            padding:0.5rem 0.75rem ;
            border-radius: 10px;
            font-size: 0.9rem;

            & i {
                padding: 0 0.25rem;
                cursor: pointer;
            }

            &--like {
                margin: 0.25rem 0;
                padding: 0.1rem 0.5rem;
                border-right: 1px solid grey;
            }


            &--dislike {
                padding: 0.1rem 0.5rem;
            }

        }
        
        &-title {
            font-size: 1.5rem;
            font-weight: bolder;
            margin:  0.25rem 1rem;
        }

        &-category {
            margin-left: 1rem;
            font-weight: lighter;
        }

        &-delete {
            margin-left: 0.9rem;
            color: vars.$lightGrey;
            font-weight: lighter;
            text-decoration: underline;
            cursor: pointer;
        }

        &-delete:hover {
            color: vars.$primaryColor;
            transition-duration: 1s;
            cursor: pointer;
        }
    }
}

.fa-thumbs-up--active {
    text-shadow: 0px 0px 13px rgba(66, 79, 195, 0.9);
    transition-duration: 0.5s;
}

.fa-thumbs-up:hover {
    text-shadow: 0px 0px 13px rgba(66, 79, 195, 0.646);
    transition-duration: 0.5s;
}

.fa-thumbs-down--active {
    text-shadow: 0px 0px 13px rgba(251, 99, 57, 0.9);
}

.fa-thumbs-down:hover {
    text-shadow: 0px 0px 13px rgba(251, 99, 57, 0.646);
    transition-duration: 0.5s;
}




// RESPONSIVE <1150px 

@media screen and (width < 1150px) {
    .movies {
        padding: 4rem 1rem; 

        &-card {
            width:45%;

            & img {
                height:28rem;
            }
        }
    }
  }

  // RESPONSIVE <900px 

@media screen and (width < 900px) {
    .movies {
        
        &-card {
            width:40%;

            & img {
                height:26rem;
            }
        }
    }
  }
  
  // RESPONSIVE <700px 
  
  @media screen and (width < 700px) {
    .movies {
        
        &-card {
            width:100%;
        }
    }
  }