@use 'src/styles/vars';

.categories {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;

    &-element {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        background-color: #fff;
        border-radius: 4px;
        margin-right: 1rem;
        cursor: pointer;


        &--active {
            background: rgb(236,61,103);
            background: linear-gradient(128deg, rgba(236,61,103,1) 0%, rgba(241, 131, 94, 0.767) 100%);
            color:white;
        }

    }

    &-clear {
        opacity: 0.5;
        text-decoration: underline;
        cursor: pointer;


        & i {
            font-size: 0.6rem;
        }
    }
}



  // RESPONSIVE <700px 
  
  @media screen and (width < 700px) {
    .categories {
        
       width:100%;
    }
  }