@use 'src/styles/vars';

.sidebar {
    width:10%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-logo {
        width:6rem;
        margin: 1rem auto;
        cursor: pointer;
    }

    &-toggle {
        margin: 2rem auto;
        width:3rem;
        height:3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: vars.$backgroundLight;
        color: vars.$darkGrey;
        border-radius: 10px;
        cursor: pointer;
    }
}